Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

In [59]:
a = 0             
def b():         
 global a      
 a = c(a)      
def c(a):          
 return a + 2

In [4]:
b()

In [5]:
b()

In [6]:
b()

In [7]:
a

6

Question 2
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [63]:
def fileLength(file):
    try:                          
        textFile = open(file)
        fileData = textFile.read()
        textFile.close()
        print(len(fileData))
    except:                       
        print('File {} not found.'.format(file))

In [64]:
fileLength('Filelength.txt')

123

In [65]:
fileLength('length.txt')

File length.txt not found.

Question 3:
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [13]:
class Marsupial:          
    def __init__(self,x,y):             
        self.pouch=[]                        
    def put_in_pouch(self,items): 
        self.pouch.append(items)   
    def pouch_contents(self):          
        return self.pouch

class Kangaroo(Marsupial):              
    def __init__(self,x,y):              
        super().__init__(x,y)          
        self.dx = 0                      
        self.dy = 0                        
    def jump(self,x,y):                 
        self.dx = self.dx + x                
        self.dy = self.dy + y
    def __str__(self):                                                      
        return ('I am a Kangaroo located at coordinates({},{})'.format(self.dx,self.dy))

In [15]:
 k = Kangaroo(0,0)

In [16]:
print(k)

I am a Kangaroo located at coordinates(0,0)

In [17]:
k.put_in_pouch('doll')

In [19]:
k.put_in_pouch('firetruck')

In [ ]:
 k.put_in_pouch('kitten')

In [21]:
k.pouch_contents()

['doll', 'firetruck', 'firetruck']

In [22]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(3,0)

Question 4
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [4]:
def collatz(integer):
    if(integer > 0):
        if integer== 1:
            print(int(integer))  
        elif integer%2 == 0:
            print(int(integer))
            return collatz(integer/2)     
        else:
            print(int(integer))
            collatz((3*integer) + 1)   
    else:
        print('Input is negative integer')
        
collatz(10)

10
5
16
8
4
2
1

In [5]:
def collatz(integer):
    if(integer > 0):
        if integer== 1:
            print(int(integer))  
        elif integer%2 == 0:
            print(int(integer))
            return collatz(integer/2)     
        else:
            print(int(integer))
            collatz((3*integer) + 1)   
    else:
        print('Input is negative integer')
        
collatz(1)

1

Question 5
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [7]:
def binary(integer):
    if(integer >= 0):
        if integer == 0:
            return 0
        else:
            binary(integer//2)
        print(integer % 2,end = '')
    else:
        print('Input is negative integer')
    
binary(0)

0

In [10]:
def binary(integer):    
    if(integer >= 0):
        if integer == 0:
            return 0
        else:
            binary(integer//2)
        print(integer % 2,end = '')
    else:
        print('Input is negative integer')
    
binary(1)

1

In [9]:
def binary(integer):   
    if(integer >= 0):
        if integer == 0:
            return 0
        else:
            binary(integer//2)
        print(integer % 2,end = '')
    else:
        print('Input is negative integer')
    
binary(3)

11

In [8]:
def binary(integer):    
    if(integer >= 0):
        if integer == 0:
            return 0
        else:
            binary(integer//2)
        print(integer % 2,end = '')
    else:
        print('Input is negative integer')
    
binary(9)

1001

Question 6
Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [16]:
from html.parser import HTMLParser           
f = open(r'w3c.html')     
a=str(f.read())

class HeadingParser(HTMLParser):        
    def __init__(self):                    
        HTMLParser.__init__(self)
        self.flag = 0 
    def handle_starttag(self, tag, attrs):                       
        if tag == 'h1' or tag == 'h2' or tag == 'h3' or tag == 'h4' or tag=='h5' or tag == 'h6' or tag == 'h7':
            self.flag += 1                                     
        else:
            self.flag = 0     
    def handle_data(self, data):            
        if self.flag and data!='\n':
            print('{} {} '.format(self.flag*' ', data))

parser = HeadingParser()                     
parser.feed(a)

  W3C Mission


   Principles

Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.
>>> 
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [19]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser

class Collector(HTMLParser): 
    def __init__(self, url): 
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
    def handle_starttag(self, tag, attrs): 
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http':
                        self.links.append(absolute)                  
    def getLinks(self): 
        return self.links

In [18]:
def webdir(url, depth, indent):    
    try:
        depth_value = int(depth)
        indent_value = int(indent)
        if depth_value < 0 or indent_value < 0:      
            raise ValueError 
        resource = urlopen(url)
        content = resource.read().decode()
        collector = Collector(url)
        collector.feed(content)
        links = collector.getLinks()                
        if indent_value == 0:
            print('{}'.format(url))
        indent_value += 4
        depth_value = depth_value-1
        if depth_value >= 0:
            for link in links:                         
                print('{}{}'.format(indent_value*' ', link), end = '\n')
                if (depth_value) > 0: 
                    webdir(link, depth_value, indent_value)                    
    except ValueError:
        print("Enter a correct value for depth or indent")

In [20]:
webdir('https://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

https://reed.cs.depaul.edu/lperkovic/test1.html
    http://reed.cs.depaul.edu/lperkovic/test2.html
        http://reed.cs.depaul.edu/lperkovic/test4.html
    https://reed.cs.depaul.edu/lperkovic/test3.html
        https://reed.cs.depaul.edu/lperkovic/test4.html

Question 8
Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
 BDAT 1004 – Data Programming 
Page 6 of 7
F2021
BDAT 1004 Computer Studies
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature 
(C)
Rainfall 
(mm)
Mumbai India Winter 24.8 5.9 
Mumbai India Spring 28.4 16.2 
Mumbai India Summer 27.9 1549.4 
Mumbai India Fall 27.6 346.0 
London United Kingdom Winter 4.2 207.7 
London United Kingdom Spring 8.3 169.6 
London United Kingdom Summer 15.7 157.0 
London United Kingdom Fall 10.4 218.5 
Cairo Egypt Winter 13.6 16.5 
Cairo Egypt Spring 20.7 6.5 
Cairo Egypt Summer 27.7 0.1 
Cairo Egypt Fall 22.2 4.5

In [44]:
import sqlite3
connection = sqlite3.connect('cityDB.db')
cursorObj = connection.cursor()
cursorObj.execute("CREATE TABLE city_data (City text, Country text, Season text,Temperature float,Rainfall float)")
cursorObj.execute("INSERT INTO city_data VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cursorObj.execute("INSERT INTO city_data VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cursorObj.execute("INSERT INTO city_data VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cursorObj.execute("INSERT INTO city_data VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cursorObj.execute("INSERT INTO city_data VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cursorObj.execute("INSERT INTO city_data VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cursorObj.execute("INSERT INTO city_data VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cursorObj.execute("INSERT INTO city_data VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cursorObj.execute("INSERT INTO city_data VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cursorObj.execute("INSERT INTO city_data VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cursorObj.execute("INSERT INTO city_data VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cursorObj.execute("INSERT INTO city_data VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

In [45]:
cursorObj.execute('SELECT * FROM city_data')
cursorObj.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [46]:
cursorObj.execute('SELECT temperature FROM city_data')
cursorObj.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [47]:
cursorObj.execute('SELECT DISTINCT City FROM city_data')
cursorObj.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [48]:
cursorObj.execute("SELECT * FROM city_data WHERE Country='India'")
cursorObj.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [49]:
cursorObj.execute("SELECT * FROM city_data WHERE Season='Fall'")
cursorObj.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [50]:
cursorObj.execute("SELECT City,country,Season FROM city_data WHERE Rainfall BETWEEN 200 AND 400")
cursorObj.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [51]:
cursorObj.execute("SELECT City,country FROM city_data WHERE Season='Fall' AND temperature > 20 ORDER BY temperature ASC")
cursorObj.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [52]:
cursorObj.execute("SELECT SUM(Rainfall) FROM city_data WHERE City='Cairo'")
cursorObj.fetchall()

[(27.6,)]

In [53]:
cursorObj.execute("SELECT SUM(Rainfall) FROM city_data GROUP BY Season")
cursorObj.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.)

In [54]:
list = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

UpperList = [word.upper() for word in list]
print(UpperList)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [58]:
LowerList = [word.lower() for word in list]
print(LowerList)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [57]:
LengthList = [ len(word) for word in list]
print(LengthList)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [56]:
LIST = [ [word.upper(), word.lower(), len(word)] for word in list]
print(LIST)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [55]:
list4words = [word for word in list if len(word)>= 4]
print(list4words)

['quick', 'brown', 'jumps', 'over', 'lazy']